<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel= "stylesheet" href= "/static/css/style.css">
</head>
<body>
<div th:replace="fragments/menu">Menu</div>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <form th:action="@{/users/register}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" type="text" class="form-control" th:field="*{username}"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" th:field="*{password}"/>
                </div>
                <div class="form-group">
                    <label for="passwordC">Password confirmation</label>
                    <input id="passwordC" type="password" class="form-control" th:field="*{passwordConfirmation}"/>
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <select id="role" th:field="*{role}">
                        <option th:each="r : ${roles}" th:value="${r}" th:text="${r}"></option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-success" type="submit">Register</button>
                    <button class="btn btn-danger" type="reset">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
