<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Elections Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel= "stylesheet" href= "/static/css/style.css">
</head>
<body>

<div th:replace="fragments/menu">Menu</div>

<div class="jumbotron">
    <div class="container text-center">
        <h1>Elections Management</h1>
        <p>(Admin) Election Administrator: adding Political Party, Constituency, Candidate</p>
        <p>(User) Election Worker: adding Voter and generating unique token for voting</p>
    </div>
</div>

</body>
</html>
